#dev-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.dev-preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.dev-preview-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  position: relative;
  left: 15px;

  & > .bomb {
    transform: scale(1.8);
    top: 4px;
  }
}

.dev-preview-menu {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}
