#game-celebration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-celebration-leaderboard-wrapper {
  width: 100%;
  max-width: 600px; // To match button list width
}

#game-celebration-podium {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-celebration-podium-winner-1,
.game-celebration-podium-winner-2,
.game-celebration-podium-winner-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & > div:nth-of-type(1) {
    padding-left: 10px;
    width: 70px;
  }

  & > div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }
}

#game-celebration-remaining {
  padding: 10px 10px 10px 22px;

  & td {
    padding: 10px;
  }

  & tr > td:nth-of-type(1) {
    width: 45px;
  }
}

.game-celebration-remaining-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-celebration-countdown-container {
  display: grid;
  place-items: center;
  min-height: 70px;
  margin-top: 50px;
}
