#game-configure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-configure-header {
  width: 100%;
  max-width: 600px; // Copied off ButtonList max-width
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#game-configure-participants {
  margin-bottom: 20px;
}

.game-configure-selector-label-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-configure-countdown-container {
  display: grid;
  place-items: center;
}
