@import "../theme";

#game-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#game-active-play-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#game-active-current-board-container {
  border-radius: $tile-separator-line-width;
  overflow: hidden;
  border: calc($tile-separator-line-width * 2) solid $tile-separator-line-color;

  & table {
    border-collapse: collapse;

    & input[type="button"] {
      width: 30px;
      height: 30px;
      border: 1px solid #19212e;
      background: #e4ebfb;

      &:hover {
        background: #889dbc;
        cursor: pointer;
      }

      &:disabled {
        background: #889dbc;
        color: #e4ebfb;
      }
    }
  }
}

#game-active-boards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

#game-active-competitors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

#game-active-countdown-text {
  min-height: 50px;
}
