#game-configure-party-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#game-configure-participants {
  margin-bottom: 20px;
}

.game-configure-selector-label-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-configure-countdown-container {
  display: grid;
  place-items: center;
}
