.main-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-menu-join-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  & > * {
    flex: 1 1 0;
  }

  & > input {
    max-width: calc(50% - 46px);
  }
}
