.main-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  position: relative;
  left: 15px;
  margin-bottom: 60px;

  & > .bomb {
    transform: scale(1.8);
    top: 4px;
  }
}

.main-menu-join-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  & > * {
    flex: 1 1 0;
  }

  & > input {
    max-width: calc(50% - 46px);
  }
}
