$spike-size: 20%;
$spike-length: 14%;

.bomb-off-bg,
.bomb-off-bg > * {
  background: darken(#191e32, 3%);
}

.bomb-yellow,
.bomb-yellow > * {
  background: #fbc74d;
}

// For main menu bomb shadow
.bomb-yellow {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 200%;
    background: #ffffff22;
    transform: translate(-50%, -50%);
    filter: blur(15px);
    border-radius: 100%;
  }
}

.bomb {
  aspect-ratio: 1;
  border-radius: 100%;
  position: relative;

  @mixin spike($rotation) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $spike-size;
    height: calc(100% + $spike-length * 2);
    transform: translate(-50%, -50%) rotate($rotation);
  }

  .bomb-line-horizontal {
    @include spike(0deg);
  }

  .bomb-line-vertical {
    @include spike(90deg);
  }

  .bomb-line-diagonal-up {
    @include spike(-45deg);
  }

  .bomb-line-diagonal-down {
    @include spike(45deg);
  }
}
