@import "../../../theme";

.hamburger {
  position: relative;
  aspect-ratio: 1;

  & > * {
    position: absolute;
    height: 20%;
    width: 100%;
    background: $background-color;
    border-radius: 4px;
  }

  & > *:nth-of-type(2) {
    top: 40%;
  }

  & > *:nth-of-type(3) {
    top: 80%;
  }
}
