.rolling-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.rolling-background-fade {
  animation: fade 0.5s ease;
  opacity: 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rolling-background-bg-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.rolling-background-bg {
  position: absolute;
  top: 0;
  right: -300%;
  height: 100%;
  width: 300%;
  animation: push 30s linear infinite;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@keyframes push {
  0% {
    right: -200%;
  }

  100% {
    right: -100%;
  }
}

.rolling-background-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.rolling-background-row-half {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rolling-background-content {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
