@import "../../theme";

.text-title {
  font-size: 60px;
  text-transform: uppercase;
  color: #e4ebfb;
}

.text-big {
  font-size: 30px;
  text-transform: uppercase;
}

.text-normal {
  font-size: 20px;
  color: #e4ebfb;
}

.text-unset-color {
  font-size: 20px;
}

.text-small {
  font-size: 15px;
  color: #e4ebfb;
}
