@import "../../../theme";

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  & .user-list-user {
    border-radius: 100%;
    overflow: hidden;
    background: $user-no-pfp-background-color;
    height: 75px;
    width: 75px;
    display: grid;
    place-items: center;

    & img {
      height: 100%;
      width: 100%;
    }

    & .user-list-default-icon {
      transform: scale(0.7);
    }
  }
}
