@import "../../../theme";

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  & .user-list-user {
    border-radius: 100%;
    overflow: hidden;
    background: $user-no-pfp-background-color;
    height: 75px;
    width: 75px;

    & img {
      height: 100%;
      width: 100%;
    }
  }
}
