$size-long: 40px;
$size-short: 2px;
$color: #fff;

.separator-horizontal {
  height: 0;
  width: $size-long;
  position: relative;

  .separator-horizontal-line {
    position: absolute;
    top: -$size-short;
    left: 0;
    height: calc($size-short * 2);
    width: calc($size-long);
    z-index: 4;
    background: $color;
  }
}

.separator-vertical {
  height: $size-long;
  width: 0;
  position: relative;

  .separator-vertical-line {
    position: absolute;
    top: 0;
    left: -$size-short;
    height: calc($size-long);
    width: calc($size-short * 2);
    z-index: 4;
    background: $color;
  }
}

.separator-intersection {
  height: 0;
  width: 0;
  position: relative;

  .separator-intersection-circle {
    position: absolute;
    top: -$size-short;
    left: -$size-short;
    height: calc($size-short * 2);
    width: calc($size-short * 2);
    z-index: 4;
    border-radius: 100%;
    background: $color;
  }
}

.separator-line-flag {
  background: #f00 !important;
  z-index: 3 !important;
}

.separator-line-unrevealed {
  background: #00f !important;
  z-index: 3 !important;
}

.separator-line-revealed {
  background: #0f0 !important;
  z-index: 3 !important;
}
