@import "../../theme";

$size-long: $tile-separator-line-height;
$size-short: $tile-separator-line-width;

$line-long-ratio: 6;
$line-short-ratio: 1.5;

@mixin separatorLine() {
  position: absolute;
  z-index: 4;
  background: $tile-separator-line-color;
  transition: background $gameplay-transition-duration ease;
}

@mixin lineInner() {
  content: "";
  position: absolute;
  z-index: 5;
  background: $tile-separator-line-inner-color;
  border-radius: $size-short;
}

.separator-horizontal {
  height: 0;
  width: $size-long;
  position: relative;
  pointer-events: none;

  .separator-horizontal-line {
    @include separatorLine();

    top: -$size-short;
    left: 0;
    height: calc($size-short * 2);
    width: calc($size-long);

    &:not(.separator-line-flag):not(.separator-line-unrevealed)::before {
      @include lineInner();

      top: calc($size-short / $line-short-ratio);
      left: calc($size-short * ($line-long-ratio / 2));
      height: calc(100% - $size-short * $line-short-ratio);
      width: calc(100% - $size-short * $line-long-ratio);
    }
  }
}

.separator-vertical {
  height: $size-long;
  width: 0;
  position: relative;
  pointer-events: none;

  .separator-vertical-line {
    @include separatorLine();

    top: 0;
    left: -$size-short;
    height: calc($size-long);
    width: calc($size-short * 2);

    &:not(.separator-line-flag):not(.separator-line-unrevealed)::before {
      @include lineInner();

      top: calc($size-short * ($line-long-ratio / 2));
      left: calc($size-short / $line-short-ratio);
      height: calc(100% - $size-short * $line-long-ratio);
      width: calc(100% - $size-short * $line-short-ratio);
    }
  }
}

.separator-intersection {
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;

  .separator-intersection-circle {
    position: absolute;
    top: -$size-short;
    left: -$size-short;
    height: calc($size-short * 2);
    width: calc($size-short * 2);
    z-index: 4;
    border-radius: 100%;
    background: $tile-separator-line-color;
  }
}

.separator-line-flag {
  background: $tile-flagged-color !important;
  z-index: 3 !important;
}

.separator-line-bomb {
  background: $tile-bomb-color !important;
  z-index: 3 !important;
}

.separator-line-unrevealed {
  background: $tile-unrevealed-color !important;
  z-index: 3 !important;
}

.separator-line-revealed {
  background: $tile-revealed-color !important;
  z-index: 3 !important;
}
