@import "../../theme";

$gap: 2px;
$size: 40px;

.tile {
  height: $size;
  width: $size;
  display: grid;
  place-items: center;
  border: none;
  position: relative;
  color: $tile-text-color;
  font-family: $font-name;
  font-size: 20px;
  transition: background $gameplay-transition-duration ease;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.tile-flagged {
    background: $tile-flagged-color;
  }

  &.tile-bomb {
    background: $tile-bomb-color;
  }

  &.tile-unrevealed {
    background: $tile-unrevealed-color;
  }

  &.tile-revealed {
    background: $tile-revealed-color;
  }
}
