$background-color: #191e32;
$accent-color: #fbc958;
$font-name: "Titan One";

$tile-flagged-color: $accent-color;
$tile-unrevealed-color: #3f4b73;
$tile-revealed-color: #222840;
$tile-text-color: #fff;

$tile-separator-line-color: #cddaeb;
$tile-separator-line-inner-color: #5f6f91;
